Alejandro Colomar <alx@kernel.org> <alx.manpages@gmail.com>
Alejandro Colomar <alx@kernel.org> <alx@nginx.com>
Alejandro Colomar <alx@kernel.org> <colomar.6.4.3@gmail.com>
Alejandro Colomar <alx@kernel.org> <alejandro.colomar@exfo.com>
Bruno Haible <bruno@clisp.org> <haible@clisp.cons.org>
Ingo Schwarze <schwarze@openbsd.org> <schwarze@usta.de>
Ingo Schwarze <schwarze@openbsd.org> <schwarze@openbsd.de>
