Alejandro Colomar <alx@kernel.org> <alx.manpages@gmail.com>
Alejandro Colomar <alx@kernel.org> <alx@nginx.com>
Alejandro Colomar <alx@kernel.org> <colomar.6.4.3@gmail.com>
Alejandro Colomar <alx@kernel.org> <alejandro.colomar@exfo.com>
Andrew Clayton <andrew@digital-domain.net> <a.clayton@nginx.com>
Andrew Clayton <andrew@digital-domain.net> <andrew@digital-domain.com>
Bruno Haible <bruno@clisp.org> <haible@clisp.cons.org>
Ingo Schwarze <schwarze@openbsd.org> <schwarze@usta.de>
Ingo Schwarze <schwarze@openbsd.org> <schwarze@openbsd.de>
Serge Hallyn <serge@hallyn.com> <serge.hallyn@canonical.com>
Serge Hallyn <serge@hallyn.com> <serge.hallyn@ubuntu.com>
Serge Hallyn <serge@hallyn.com> <serue@us.ibm.com>
